<input type='text' id="search" class="mt-6 shadow appearance-none border rounded w-32 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Search cards..." />
<div class="flex flex-wrap justify-left gap-4  mt-10">
  {{ partial "product-card" (dict "Product" "Alerts" "URL" "img/products/alerts.png")}}
  {{ partial "product-card" (dict "Product" "Application Performance Monitoring" "URL" "img/products/application-performance-monitoring.png")}}
  {{ partial "product-card" (dict "Product" "Database Monitoring" "URL" "img/products/database-monitoring.png")}}
  {{ partial "product-card" (dict "Product" "Log Management" "URL" "img/products/log-management.png")}}
  {{ partial "product-card" (dict "Product" "Observability Pipelines" "URL" "img/products/observability-pipelines.png")}}
  {{ partial "product-card" (dict "Product" "Real User Monitoring (RUM)" "URL" "img/products/real-user-monitoring.png")}}
</div>
<div class="pt-8 flex justify-left">
  <button class="product-button hover:bg-purple-100">More Products</button>
</div>